[submodule "Libraries/RestKit"]
	path = Libraries/RestKit
	url = https://github.com/RestKit/RestKit.git
[submodule "Libraries/SDWebImage"]
	path = Libraries/SDWebImage
	url = https://github.com/rs/SDWebImage.git
